<html>
 <head>
  <title>
   Melodify Login
  </title>
  <link href="style.css" rel="stylesheet"/>

 </head>
 <body>
  <div class="container">
   <img alt="Music note icon" class="logo" height="100" src="logo melodify.png" width="100"/>
   <div class="title">
    Melodify
   </div>
   <div class="input-container">
    <i class="fas fa-user icon">
    </i>
    <input placeholder="Username" type="text"/>
   </div>
   <div class="input-container">
    <i class="fas fa-lock icon">
    </i>
    <input placeholder="Password" type="password"/>
   </div>
   <button class="login-button">
    Login
   </button>
   <div class="create-account">
    Buat akun baru
   </div>
  </div>
 </body>
</html>
