<html>
<head>
    <title>Buat Akun Baru</title>
    <link href="style.css" rel="stylesheet"/>
    
</head>
<body>
    <div class="container">
        <h2>Buat akun baru</h2>
        <input type="text" placeholder="Nama">
        <input type="text" placeholder="No Telepon">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Login</button>
        <p>Sudah punya akun? <a href="#">Masuk</a></p>
    </div>
</body>
</html>